.sidebar {
  grid-area: s;
  background-color: #ffadad;
  padding: 10px;
}

.item {
  transition: color .3s ease-in-out;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item .active {
  color: #5c2091;
  text-decoration: underline;
}

.item:hover {
  color: #5c2091;
}