html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-size: 16px;
  line-height: 24px;
}

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'h h h' 's p p';
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.header {
  grid-area: h;
  background-color: #a6cef6;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header img {
  width: 60px;
  height: 60px;
  background: #4E8C9D;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar {
  grid-area: s;
  background-color: #ffadad;
}

.profile {
  grid-area: p;
  background-color: #e5b3e3;
}

.main-banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}