.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 10px;
}

.dialogsItems {
}

.dialog a {
  transition: color .3s ease-in-out;
}

.dialog a:hover {
  color: #e00808;
}

.dialog .active {
  color: #e00808;
}

.messages {
}

.message {

}